/* Page Content */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.welcome-hero {
    position: relative;
    background: url(/images/banner.jpg)no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    max-width: none;
    width: 100%;
    height: 800px;
    z-index: 1;
}

    .welcome-hero:before {
        position: absolute;
        content: " ";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(65,73,89,.65);
        z-index: -1;
    }


.welcome-hero-txt {
    padding-top: 155px;
}

    .welcome-hero-txt h2 {
        font-size: 48px;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2.4px;
        line-height: 1.4;
    }

    .welcome-hero-txt h3 {
        font-size: 28px;
        color: #fff;
        font-weight: 500;
        margin-top: 20px;
    }

    .welcome-hero-txt p {
        font-size: 18px;
        color: #fcfcfc;
        margin-top: 25px;
        font-weight: 300;
    }


p {
    margin: 0;
    color: #767f86;
    font-size: 14px;
    line-height: 1.8;
    text-transform: initial;
}


.container-main {
    margin-top: 50px;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
}

.feature-box {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

    .feature-box:hover {
        transform: translateY(-15px);
    }

.icon {
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    font-size: 17px;
    color: #666;
    font-family: Verdana
}

/*Q&A*/

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #a09e9c;
    text-transform: initial;
    max-width: 1920px;
    margin: 0 auto;
    overflow-x: hidden;
}

.faq-header {
    font-size: 36px;
    border-bottom: 1px dotted #ccc;
    padding: 17px;
    text-align: center;
}

.faq-content {
    margin: auto;
    max-width: 1200px;
}

.faq-question {
    padding: 20px 0;
    border-bottom: 1px dotted #ccc;
}

.panel-title {
    font-size: 24px;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 10px 10px 0 48px;
    display: block;
    cursor: pointer;
}

.panel-content {
    font-size: 20px;
    padding: 0px 14px;
    margin: 0 40px;
    height: 0;
    overflow: hidden;
    z-index: -1;
    position: relative;
    opacity: 0;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
}

.panel:checked ~ .panel-content {
    height: auto;
    opacity: 1;
    padding: 14px;
}

.plus {
    position: absolute;
    margin-left: 20px;
    margin-top: 4px;
    z-index: 5;
    font-size: 42px;
    line-height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}

.panel:checked ~ .plus {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.panel {
    display: none;
}

.map-address {
    margin-top: 50px;
    padding-bottom: 175px;
    width: 100%;
    justify-content: center;
}


.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

    .animated.infinite {
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }

    .animated.hinge {
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
    }


@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}


@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}


@keyframes fadeInLeftBig {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
        -ms-transform: translateX(-2000px);
        transform: translateX(-2000px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

.fadeInLeftBig {
    -webkit-animation-name: fadeInLeftBig;
    animation-name: fadeInLeftBig;
}

@keyframes fadeInRightBig {
    0% {
        opacity: 0;
        -webkit-transform: translateX(2000px);
        -ms-transform: translateX(2000px);
        transform: translateX(2000px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

.fadeInRightBig {
    -webkit-animation-name: fadeInRightBig;
    animation-name: fadeInRightBig;
}


.statistics {
    position: relative;
    /* chiều cao tối thiểu để ảnh nền đủ hiển thị */
    min-height: 300px;
    background: url("/images/counter-banner.jpg") no-repeat center center fixed;
    background-size: cover;
    /* Để con cháu text hiển thị trắng */
    color: #fff;
    /* Canh giữa dọc (flex container) */
    display: flex;
    align-items: center;
}

    /* Lớp mờ phủ lên ảnh nếu cần */
    .statistics:before {
        position: absolute;
        content: '';
        background: rgba(75,75,75,.60);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    /* container sẽ cần "vượt" lớp :before => position relative + z-index */
    .statistics .container {
        position: relative;
        z-index: 1;
    }

    /* Để canh giữa nội dung theo chiều dọc trong .statistics */
    .statistics .statistics-counter {
        width: 100%;
        /* Tạo không gian dọc nếu cần */
        padding: 40px 0;
    }

/* single-ststistics-box */
.single-ststistics-box {
    text-align: center;
    margin-bottom: 30px;
}

.statistics-content {
    display: inline-flex;
    align-items: baseline; /* canh đường cơ sở giữa số và chữ K+ */
    font-size: 60px;
    color: #fff;
}

    /* Khoảng cách giữa số và hậu tố K+ */
    .statistics-content span {
        margin-left: 5px;
        font-size: 47px; 
        align-self: flex-start; 
    }

/* Tiêu đề h3 */
.single-ststistics-box h3 {
    color: #fff;
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 500;
    margin-top: 10px;
}
