@{
    ViewData["Title"] = "Home Page";
}

<div class="page-content">
    <h1>Welcome to TruongShop</h1>
    <br />
    <h2>Chuyên cung cấp Key bản quyền Windows <br /> và các phần mềm văn phòng chuyên nghiệp.</h2>
    <br />
    <div class="text-center">
        <p>
            Tại đây Shop chuyên cung cấp bản quyền Windows và <br />
            các phần mềm Văn phòng khác. Với giá cả phải chăng <br />
            mà vẫn đảm bảo chất lượng sản phẩm, cùng với chế độ bảo <br />
            hành và chăm sóc khách hàng tận tình. TruongShop tự tin sẽ làm <br />
            cho bạn hài lòng ngay từ lần mua hàng đầu tiên!
        </p>
    </div>
    <br />
    <p>TruongShop hân hạnh được phục vụ Quý khách!</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3 text-center">
            <div class="feature-box">
                <div class="icon">
                    <img src="https://cdn-icons-png.flaticon.com/512/306/306473.png" width="50" />
                </div>
                <h3>Dịch vụ khách hàng tận tâm</h3>
                <p>
                    Luôn sẵn sàng trợ giúp khách hàng trước khi mua hàng, trong quá trình mua hàng và ngay cả sau khi mua hàng. Keyoff hiểu rằng giá trị thực sự được tạo ra không chỉ được ở chất lượng của sản phẩm mà còn là cả quá trình chăm sóc khách hàng trước và sau khi mua hàng. Vì vậy Keyoff luôn lắng nghe và hỗ trợ hết mình khi khách hàng có nhu cầu.
                </p>
            </div>
        </div>

        <div class="col-md-3 text-center">
            <div class="feature-box">
                <div class="icon">
                    <img src="https://cdn-icons-png.flaticon.com/512/633/633601.png" width="50" />
                </div>
                <h3>Giao hàng ngay lập tức</h3>
                <p>
                    Sau khi các giao dịch được yêu cầu hoàn tất, TruongShop sẽ gửi các sản phẩm kỹ thuật số cho khách hàng gần như ngay lập tức. Chúng tôi luôn đảm bảo rằng những hướng dẫn cụ thể và chi tiết nhất sẽ đi kèm với sản phẩm mà bạn nhận được.
                </p>
            </div>
        </div>

        <div class="col-md-3 text-center">
            <div class="feature-box">
                <div class="icon">
                    <img src="https://cdn-icons-png.flaticon.com/512/556/556671.png" width="50" />
                </div>
                <h3>Giấy phép chính hãng</h3>
                <p>
                    TruongShop tự tin rằng các sản phẩm phần mềm là 100% chính hãng. Với những ưu điểm không thể phủ nhận, khách hàng sẽ có những trải nghiệm mua sắm trực tuyến tuyệt vời khi lựa chọn mua hàng tại TruongShop.
                </p>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <div class="feature-box">
                <div class="icon">
                    <img src="https://cdn-icons-png.flaticon.com/128/1490/1490853.png" width="50" />
                </div>
                <h3>Giá cả phải chăng</h3>
                <p>
                    Chắc chắn rằng trong mỗi khách hàng khi tham khảo giá cả sản phẩm đều hoài nghi rằng liệu giá rẻ có đảm bảo chất lượng sản phẩm hay không ??. TruongShop xin cam kết rằng phần mềm và sản phẩm đều là chính hãng. nếu khách hàng không hài lòng về chất lượng sản phẩm hãy liên hệ với bộ phận hỗ trợ . Shop sẽ khắc phục sự cố và đổi trả sản phẩm theo yêu cầu của khách hàng.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="faq-header">Câu hỏi và trả lời</div>
<div class="faq-content">
    <div class="faq-question">
        <input id="q1" type="checkbox" class="panel">
        <div class="plus">+</div>
        <label for="q1" class="panel-title">Digital download là gì ?</label>
        <div class="panel-content">Digital download là một bản chuyển thể điện tử của mặt hàng sản phẩm của bạn. Bạn sẽ thừa nhận việc tải xuống và sử dụng chương trình mới của mình ngay lập tức. Điều này ngụ ý rằng một đĩa CD hoặc DVD thực tế bị loại trừ khỏi giao dịch mua của bạn. Chương trình giới thiệu sản phẩm được tải xuống thông qua dung lượng dựa trên đám mây.</div>
    </div>

    <div class="faq-question">
        <input id="q2" type="checkbox" class="panel">
        <div class="plus">+</div>
        <label for="q2" class="panel-title">Sự khác biệt chính giữa Office 2019 và Office 365 là gì ?</label>
        <div class="panel-content">Office 2019 là bản mua một lần kết hợp các ứng dụng PC hoặc Mac mẫu mực như Word, Excel và PowerPoint. Nó không chứa bất kỳ điểm nổi bật nào đi kèm với tư cách thành viên Office 365. Sau khi mua không có giải pháp thay thế thiết kế lại, điều này có nghĩa là bạn sẽ phải có được nó ở mức tối đa nếu bạn có kế hoạch chuyển lên bản cập nhật quan trọng sau.</div>
    </div>

    <div class="faq-question">
        <input id="q3" type="checkbox" class="panel">
        <div class="plus">+</div>
        <label for="q3" class="panel-title">Office có yêu cầu truy cập Internet không ?</label>
        <div class="panel-content">
            Cần có quyền truy cập web để tải xuống và cấp quyền cho tất cả các bản phân phối bộ Office mới cũng như tất cả các gói thành viên Office 365. Quyền truy cập web cũng được yêu cầu đối với các thiết kế Office 365 để kiểm soát tài khoản thành viên của bạn, ví dụ: để giới thiệu Office trên các PC khác nhau hoặc thay đổi các lựa chọn thay thế tính phí.<br /> <br />

            Ngoài ra, cần có quyền truy cập web đối với các kho lưu trữ trên OneDrive trừ khi bạn giới thiệu ứng dụng khu vực làm việc OneDrive. Để cập nhật những thông tin mới nhất và lợi thế từ các bản làm mới được lập trình, bạn nên thường xuyên kết hợp với Internet.<br /> <br />

            Tại thời điểm khi bạn không kết hợp với Internet như định kỳ, các ứng dụng của bạn sẽ chuyển sang chế độ hữu ích giảm, điều này có nghĩa là bạn có thể truy cập hoặc in tài liệu lưu trữ của mình. Tất cả những thứ được xem xét, bạn sẽ không làm mới hoặc tạo báo cáo mới. Hợp lý hóa việc kích hoạt lại chương trình Office của bạn bằng cách kết nối lại với Internet.
        </div>
    </div>
    <div class="faq-question">
        <input id="q4" type="checkbox" class="panel">
        <div class="plus">+</div>
        <label for="q4" class="panel-title">Tại sao tôi nên mua Phần mềm chống vi-rút ?</label>
        <div class="panel-content">
            Khi bạn truy cập Internet sẽ tiềm ẩn nhiều nguy cơ vô hình cho máy tính và virus tấn công là một trong số đó. <br /> <br />

            Vi rút có thể xâm nhập vào khuôn khổ của bạn mà không có dấu hiệu và bạn có thể kết thúc với một khuôn khổ không thể hoạt động hoặc thông tin của riêng bạn bị lấy đi. <br /> <br />

            Đây là lý do cần thiết phải có một số loại bảo hiểm trên PC của bạn. Bất kể bạn có một kế hoạch tài chính rất ít để chi tiêu, trong mọi trường hợp, bạn có thể theo dõi các câu trả lời tốt nhất cho kế hoạch chi tiêu của mình tại TruongShop.net
        </div>
    </div>
    <div class="faq-question">
        <input id="q5" type="checkbox" class="panel">
        <div class="plus">+</div>
        <label for="q5" class="panel-title">Tại sao tôi nên mua Windows 10 thay vì Windows 7 ?</label>
        <div class="panel-content">
            Windows 10 là phiên bản mới nhất và tuyệt vời nhất của Microsoft Windows. So với Windows 7, Windows 10 sẽ cung cấp khả năng tương thích và chơi game tốt hơn.<br /> <br />

            Windows 10 cũng giới thiệu trình duyệt Internet Microsoft Edge, một khung khu vực làm việc ảo, một cửa sổ và khu vực làm việc mà bảng bao gồm có tên là Task View, hỗ trợ đăng nhập nhận dạng khuôn mặt và đánh dấu duy nhất, các điểm nổi bật bảo mật mới cho các điều kiện kinh doanh lớn và DirectX 12.
        </div>
    </div>
</div>





