@{
    ViewData["Title"] = "Chính sách bảo mật";
}


<div class="policy-container">
    <h1 class="text-center mb-4">Chính sách bảo mật</h1>

    <div class="section">
        <h2>Thông tin cá nhân nào bị thu thập và tại sao thu thập</h2>
        <p><strong>Bình luận</strong></p>
        <p>Khi khách truy cập để lại bình luận trên trang web, chúng tôi thu thập dữ liệu được hiển thị trong biểu mẫu bình luận và cả địa chỉ IP của người truy cập và chuỗi user agent của người dùng trình duyệt để giúp phát hiện spam.</p>
        <p>Một chuỗi dữ liệu được tạo từ địa chỉ email của bạn (còn được gọi là hash) có thể được cung cấp cho dịch vụ Gravatar để xem bạn có đang sử dụng nó hay không. Chính sách bảo mật của dịch vụ Gravatar có tại <a href="https://automattic.com/privacy/" target="_blank">https://automattic.com/privacy/</a>. Sau khi chấp nhận bình luận của bạn, ảnh hồ sơ của bạn (nếu có) sẽ xuất hiện trong công khai trong nội dung bình luận của bạn.</p>
    </div>

    <div class="section">
        <h2>Thư viện</h2>
        <p>Nếu bạn tải hình ảnh lên trang web, bạn nên tránh tải lên hình ảnh có dữ liệu vị trí (EXIF GPS) đi kèm. Khách truy cập vào trang web của bạn có thể nhìn thấy dữ liệu vị trí và nó nằm trên hình ảnh trên trang web.</p>
    </div>

    <div class="section">
        <h2>Thông tin liên hệ</h2>
        <p><strong>Cookies</strong></p>
        <p>Nếu bạn viết bình luận trong website, bạn có thể cung cấp các nhập tên, email để website trông cookie. Các thông tin này nhằm giúp bạn không cần nhập thông tin nhiều lần khi viết bình luận khác. Cookie này sẽ lưu trữ trong một năm.</p>
        <p>Nếu bạn có tài khoản và đăng nhập vào website, chúng tôi sẽ thiết lập một cookie tạm thời để xác định phiên trình duyệt cho phép sử dụng cookie. Cookie này không bao gồm thông tin cá nhân và sẽ được gỡ bỏ khi bạn đóng trình duyệt.</p>
        <p>Khi bạn đăng nhập, chúng tôi sẽ thiết lập một số thông tin về cookie để lưu thông tin đăng nhập và lựa chọn hiển thị. Thông tin đăng nhập sẽ lưu trong thời gian 1 ngày, và lựa chọn hiện tại sẽ được lưu trong một tháng. Nếu bạn chọn “Nhớ tôi”, thông tin đăng nhập sẽ được lưu trọn trong hai tuần. Nếu bạn thoát khỏi tài khoản, thông tin này sẽ bị xóa.</p>
        <p>Nếu bạn sửa hoặc công bố bất kỳ bài viết, một bản cookie bổ sung sẽ được sử dụng trong trình duyệt. Cookie này không chứa thông tin cá nhân và chỉ đảm bảo rằng nội dung bài viết bạn đã sửa. Nó tự động hết hạn sau 1 ngày.</p>
    </div>

    <div class="section">
        <h2>Nội dung nhúng từ website khác</h2>
        <p>Các bài viết trên trang web này có thể bao gồm nội dung được nhúng (ví dụ: video, hình ảnh, bài viết,..v.v.). Nội dung được nhúng từ trang web khác hoạt động theo cùng một cách chính xác như khi bạn truy cập trực tiếp trang web đó.</p>
        <p>Những website bên thứ ba có thể thu thập hoặc lưu trữ dữ liệu về bạn, sử dụng cookie, những các trình theo dõi của bên thứ ba và giám sát sát tương tác tác của bạn với nội dung được nhúng đó.</p>
    </div>

    <div class="section">
        <h2>Phân tích</h2>
        <p><em>Dữ liệu của bạn tồn tại bao lâu</em></p>
        <p>Nếu bạn để lại bình luận, bình luận và siêu dữ liệu của nó sẽ được giữ lại vô thời hạn. Điều này là để chúng tôi có thể nhận ra và chấp nhận hoặc từ chối bất kỳ bình luận nào thay vì giữ chúng trong mục đợi kiểm duyệt.</p>
    </div>

    <div class="section">
        <h2>Các quyền của bạn liên quan đến dữ liệu cá nhân</h2>
        <p>Nếu bạn có tài khoản trên trang web hay đã để lại nhận xét, bạn có thể yêu cầu một tệp xuất dữ liệu cá nhân mà chúng tôi lưu giữ về bạn, bao gồm mọi dữ liệu bạn đã cung cấp cho chúng tôi.</p>
        <p>Các dịch vụ lưu trữ đám mây được sử dụng để lưu trữ và sao lưu dữ liệu của chúng tôi được bảo vệ bởi các điều khoản bảo mật chặt chẽ.</p>
    </div>

    <div class="section">
        <h2>Thông tin liên hệ:</h2>
        <ul>
            <li>Hotline/Zalo: 0358223929</li>
            <li>Email: luongnhattruong2004@gmail.com</li>
        </ul>
        <p>Hoặc để lại tin nhắn trên fanpage, chúng tôi sẽ liên hệ lại.</p>
    </div>
</div>
